<!doctype html>
<html>
<head>
  <style>
    body {
      font-size: 48px;
      font-family: 'Helvetica', sansserif;
    }

    button {
      background-color: blue;
      color: white;
      font-size: 48px;
      border: solid 1px red;
      border-radius: 5px;
      margin-bottom: 50px;
    }

    div {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div ng-app="one-way-binding">
    <parent-component></parent-component>
  </div>

<script src="node_modules/angular/angular.js"></script>
<script>
  const falcon = {
    name: 'Millenium Falcon',
    pilot: 'Han Solo'
  };
  const xWing = {
    name: 'X-Wing',
    pilot: 'Luke Skywalker'
  };
  const changeShip = function (ship) {
    return ship === falcon ? xWing : falcon;
  };
  const changePilot = function (ship) {
    if (ship === falcon) {
      return ship.pilot === 'Han Solo' ? 'Rei' : 'Han Solo';
    } else {
      return ship.pilot === 'Luke Skywalker' ? 'Dameron Poe' : 'Luke Skywalker';
    }
  };

  const parentComponent = {
    template: `<div>ParentController</div>
                <div>Ship: {{$ctrl.ship.name}}<br> Pilot: {{$ctrl.ship.pilot}}</div>
                <div><button ng-click="$ctrl.changeShip()">Change whole object</button>
                <button ng-click="$ctrl.changePilot()">Just change property</button></div>
              <child-component child-ship="$ctrl.ship"></child-component>`,
    controller: function () {
      this.ship = falcon;
      this.changeShip = function () {
        this.ship = changeShip(this.ship);
      };
      this.changePilot = function () {
        this.ship.pilot = changePilot(this.ship);
      }
    }
  };

  const childComponent = {
    template: `<span style="font-family: 'Courier New'">&lt;child-component child-ship="$ctrl.ship"&gt;&lt;/child-component&gt;</span>
              <div>ChildController</div>
              <div>Ship: {{$ctrl.childShip.name}}<br> Pilot: {{$ctrl.childShip.pilot}}</div>
              <div><button ng-click="$ctrl.changeShip()">Change whole object</button>
              <button ng-click="$ctrl.changePilot()">Just change property</button></div>`,
    bindings: {
      childShip: '='
    },
    controller: function () {
      this.changeShip = function () {
        this.childShip = changeShip(this.childShip);
      };
      this.changePilot = function () {
        this.childShip.pilot = changePilot(this.childShip);
      };
    }
  };
  angular.module('one-way-binding', [])
      .component('parentComponent', parentComponent)
      .component('childComponent', childComponent);
</script>
</body>
</html>